* {
	margin: 0;
	padding: 0;
}

html {
	height: 85%;
}

header, nav, section, article, aside, footer {
	display: block;
}

body {
	font: 14px/18px Lucida, Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	background: #000000;
}

h1 {
	font-family: 'Bilbo Swash Caps', cursive;
	color: #FFFFCC;
	font-size: 275%;
}

h2 {
	font-family: 'Poiret One', cursive;
	color: #FFFFFF;
	font-size: 160%;
}

a {
	color: white;
	outline: none;
	text-decoration: underline;
}

a:hover {
	color: #FFFFCC;
	text-decoration: none;
}

p {
	margin: 0 0 18px
}

p.ex {
	color:white;
    }

img {
	border: none;
}

input {
	vertical-align: middle;
}

#wrapper {
	max-width: 1100px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-image:url('images/moonbackground.jpg');
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 90px;
	background: #282828;
	color: #FFFFCC;
	
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
	color: #FFFFCC;
	font-size: medium;
	font-family: 'Roboto Condensed', sans-serif;
}

#content2 {
	padding: 0 0 100px;
	color: #FFFFCC;
	font-family: 'Allan', cursive;
	font-size: 250%;
	line-height:150%;
	text-align:left;
}

.picture {
    border: 2px solid #FFFFCC;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	font-size: 95%;
	color: #FFFFCC;
	margin: auto auto auto;
	max-width: 1100px;
	height: 100px;
	background: #282828;
	position: relative;
	text-align:center;
}

/* Media Settings for Mobile Viewing
-----------------------------------------------------------------------------*/
@media (max-width: 600px) {
	#header {
		height: 75%;
		font-size: medium;
	}

	#content {
		width: auto;
		margin: auto;
		text-align: left;
		font-size: medium;
	}
	#content2 {
		width: auto;
		margin: auto;
		text-align: left;
		font-size: medium;
	}

	#footer {
		font-size: small;
		margin-left:auto;
		margin-right:auto;
	}


	#wrapper {
		max-width: 600px;		
	}
	
	h1 {
		color: #FFFFCC;
		font-size: x-large;
		text-align: center;
	}

	h2 {
		font-size: medium;
		text-align: center;
	}

	p {
		font-size: medium;
		text-align: justify;
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	iframe {
		max-width: 600px;
		max-height: 600px;
		margin: 0 auto; 

	}
}